/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.form-field {
  @apply rounded-lg border border-gray-300 px-3 py-2
  focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none;
}


.selected {
  @apply text-blue-500;
}

.fs-listbox {
  @apply flex flex-col;
}
